body{
    background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#tab {
    width: 1190px;
    height: 170px;
    border: 1px solid #ccc;
    margin: 20px auto 0;
}

#tab .tab_title {
    height: 70px;
    line-height: 36px;
    background:#239cdc;
}

#tab .tab_title li {
    float: left;
    width: 204px;
    text-align: center;
    margin-top: 34px;
}

#tab .tab_title li.active {
    background: #f7f7f7;
}

#tab .tab_content {
    padding: 10px;
    height: 515px;
    background:#f7f7f7;
}

#tab .tab_content .item {
    display: none;
}

#tab .tab_content li {
    line-height: 28px;
}

#tab .tab_content .show {
    display: block;
}

.footer{
    margin-top: 515px;
}